{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block sidebar %}
<div class="list-group">
    {% for item in categories%}
    <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
    {% endfor %}
</div>
{% endblock %}


{% block content %}
{% for new in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: {{ new.category }}
    </div>
    <div class="card-body">
        <div class="media">
            {% if new.photo %}
            <img src="{{ new.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="https://picsum.photos/200/300" alt="" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ new.title }}</h5>
                <p class="card-text">{{ new.content }}</p>
                <a href="#" class="btn btn-primary">Читать далее..</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ new.created_at|date:"Y-m-d" }}
    </div>
</div>
{% endfor %}
{% endblock %}